<template name="summaries">
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Geographical Map</h3>
      <p>Using a map of the United States, the Nestling team visualizes data
        from the 2009 Residential Energy Consumption Servey to expose possible
        trends in energy consumption with the end-goal of determining problem
        areas that can be addressed in the fight against global climate change.</p>
      <a class="ui large button" href="{{pathFor route='map'}}">See Map of Data</a>

      <!-- <h4 class="ui horizontal header divider">
        <img src="assets/images/nest-leaf.png" class="image">
      </h4> -->
    </div>
  </div>
</template>
