<template name="summaries">
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Geographical Map</h3>
      <p>Using a map of the United States, the Nestling team visualizes data
        from the 2009 Residential Energy Consumption Servey to expose possible
        trends in energy consumption with the end-goal of determining problem
        areas that can be addressed in the fight against global climate change.</p>
      <a class="ui large button" href="{{pathFor route='map'}}">See Map of Data</a>

      <!-- <h4 class="ui horizontal header divider">
        <img src="assets/images/nest-leaf.png" class="image">
      </h4> -->

      <!-- <h3 class="ui header">Multiple Star Plot</h3>
      <p>Using small multiples of star plots, you will be able to visualize a
        week of Nest activity. Use interaction to remove data you are
        uninterested in to gain insight on your energy usage and home activity</p>
      <a class="ui large button" href="{{pathFor route='stars'}}">See Small Multiples</a>

      <h4 class="ui horizontal header divider">
        <img src="assets/images/nest-leaf.png" class="image">
      </h4>

      <h3 class="ui header">Parallel Coordinates</h3>
      <p>If you want to see a large number of varibles and how they vary on the
        days of the week, this parallel coordinates graph will solve all your
        problems. Use interaction to relocate axes, or gather more information
        via tooltips.</p>
      <a class="ui large button" href="{{pathFor route='parallels'}}">See Parallel Coordinates</a> -->
    </div>
  </div>
</template>
