<template name="comparision">
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <!-- <div id="container" class="ui container" style="position: relative; width: 500px; height: 300px;">
  </div> -->
  <h3 style="margin-left: 50px;">Click on a state to learn more about the survey results!</h3>

  
  <body id="body">
    <div id="states-picker">
      <div id="container"></div>
      <div id="states-list"> 
        <div id="message"></div>
        <div id="list"></div>
      </div>
    </div>

    <div id="statename-view">
      <div class="statename-label-div"><h3 id="statename-label" class="label3"> No state has selected!</h3> </div>
    </div>

    <div id="statechart-option-view">
      <div class="statecharts-label-div"><h3 id="statechart1-label" class="chartlabel-click" data-index="0"> Chart 1</h3> </div>
      <div class="statecharts-label-div"><h3 id="statechart2-label" class="chartlabel-click" data-index="1"> Chart 2</h3> </div>
      <div class="statecharts-label-div"><h3 id="statechart3-label" class="chartlabel-click" data-index="2"> Chart 3</h3> </div>
    </div>

    <div id="statechart-view">
      <div id="statechart1-view">
        <div id="barchart" class="chart"> bar chart</div>
        <div> <h3 style="text-align: center;"> Everage Energy Consumption</h3></div>
        <div> <h3 style="text-align: center;"> Of Different Types in 2009 (BTUs)</h3></div>
      </div>

      <div id="statechart2-view"> 
        <div id="pcchart" class="parcoords"> parallel chart</div>
      </div>

      <div id="statechart3-view">
        <div id="plotchart" class="scplot"> scatter plot</div>
      </div>
    </div>

    <div id='states-view'>
      <div id='state1-view'>
        <div>           
          <h3 id="state1-label" class="label1"> Bars Chart.</h3>
          <ul id="selectedstate1"></ul>
          <span id="count1"></span>
        </div>
        <div id="barchart1" class="chart"></div>
        <div id="pcchart1" class="parcoords"></div>
      </div>
      <div id='state2-view'>
        <div>           
          <h3 id="state2-label" class="label2"> Parallel Coordinates</h3>
          <ul id="selectedstate2"></ul>
          <span id="count2"></span>
        </div>
        <div id="barchart2" class="chart"></div>
        <div id="pcchart2" class="parcoords"></div>
      </div>
    </div>

    <div id="compare-view">
      <div id="comparechart-view1">
        <div id="barchart-compare" class="chart"> </div>
        <div></div>
      </div>
      <div> <h3 id="donut-label">Please Select One of Following Options</h3> </div>
      <div id="donut-option">
          <div id="donutlist"></div>
      </div>
      <div id="donutchart-view">
        <div id="donut-chart1" class="donutchart"></div>
        <div id="donut-chart2" class="donutchart"></div>
      </div>
    </div>
  </body>
  
</template>
