table {
	position: center;
	visibility: hidden;
}

#container {
	position: relative; 
	width: 800px; 
	height: 500px;
	float: left;
}

#body {
	width: 1000px; 
	height: 500px; 
	margin: 0; 
	padding: 0;
}

#states-container {
	margin-left: 20px;
}

td {
	padding-left: 50px;
	padding-right: 50px;

}

svg {
    font: 10px sans-serif;
}

.background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.foreground path {
	fill: none;
	stroke: #000000;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	font: 200px sans-serif;
}



