<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="https://cs4460.wordpress.com/" class="invertedTextColor item">Class Homepage</a>
            <a href="https://cs4460.wordpress.com/project/" class="invertedTextColor item">Project Description</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">Disclamer</h4>
          <p> No money has been made with this application and all logos belong
            to Nest Labs. This application is not affiliated with Nest
            Labs and all collected data belongs to the nest account associated
            with Andrew Osborn. </p>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Shoutouts</h4>
          <p>This project was created for CS 4460 - Intro to Information
            Visualization taught by Professor Rahul C. Basole at the Georgia
            Institute of Technology. Special thanks to the creators of
            MeteorJS, the NEST API, D3, SemanticUI, and everyone who contributes
            to Meteor's Atmosphere.</p>
        </div>
      </div>
    </div>
  </div>
</template>
