<template name="navbar">
  <div id="top-nav" class="ui inverted vertical center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item"> <i class="sidebar icon"></i> </a>
        <a class="item {{routeStatus 'home'}}" href="{{pathFor route='home'}}">Home</a>
        <a class="item {{routeStatus 'lines'}}" href="{{pathFor route='lines'}}">Time Series</a>
        <a class="item {{routeStatus 'stars'}}" href="{{pathFor route='stars'}}">Star Plots</a>
        <a class="item {{routeStatus 'parallels'}}" href="{{pathFor route='parallels'}}">Parallel Coordinates</a>
        <div class="right item">
          {{#if currentUser}}<a class="ui red inverted button" id="logout">Log Out</a>
          {{else}} <a class="ui blue inverted button" id="login">Log In</a> {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
