<template name="navbar">
  <div id="top-nav" class="ui inverted vertical center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item"> <i class="sidebar icon"></i> </a>
        <a class="item {{routeStatus 'home'}}" href="{{pathFor route='home'}}">Home</a>
        <a class="item {{routeStatus 'map'}}" href="{{pathFor route='map'}}">Geographical Visualization</a>
        <a class="item {{routeStatus 'comparision'}}" href="{{pathFor route='comparision'}}">New Visualization</a>
      </div>
    </div>
  </div>
</template>
